.formulario {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-top: 10px;
}

.app-title {
    text-align: center!important;
}

.botoes {

    float: right;
    align-items: center;
    padding: 8px;
}

button {
    
    margin-left: 12px;
    height: 30px;
    width: 200px;
}