<mat-toolbar color="primary">Cadastrar Usuário</mat-toolbar>


<mat-card class="center width50" *ngIf="cadastro">

<form autocomplete="off" novalidate [formGroup]="cadastro" (ngSubmit)="submit()" (ngReset)="fecharForm()"> 

<mat-card-content class="formulario">
    <mat-form-field class="full-width">

        
        <input matInput placeholder="Nome do Usuário *" name="nome" formControlName="nome">

        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="E-mail do Usuário *" name="email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Site do Usuário" name="site" formControlName="site">
        </mat-form-field>
</mat-card-content>
<mat-card-actions class="botoes">

    <button type="submit" mat-flat-button color="primary">Concluir</button>
    <button mat-flat-button color="warn" mat-dialog-close>Sair</button>

</mat-card-actions>
</form>
</mat-card>





